<body>
  <div class="college-match">
   <% if !@open_positions.any? %>
   <h5 class="text-center">Sorry there are no matches at the moment, check back later!</h5>
   <% else %>
        <% @open_positions.each do |college| %>
          <div class="college-card">
          <h4 class="college-card__heading text-center mt-5">
            <%=college.school_name %>
          </h4>
            <div class="college-card__details">
             <a class="btn btn-primary btn-block mt-4" href='college/<%= college.id %>'> View</a>

    </div>
</div>
<% end %>
<% end %>
</div>
</body>