<html>

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />

</head>
<body>

<body>
<div class="main-container">
<section class="main-page-home-section">

<div class="home-section">
<h1 class="home-section__heading">THE RECRUITER<h1>
<a href='#' class="home-section__button">GET TO KNOW US BETTER</a>

</div>

</section>
<section class="about">
<div class="container">
<img class="about__logo" src="/images/logo.png">
<div class="about__section">
<div class=row>
<div class="col md-6">
<h2 class="about__heading">ABOUT US</h2>
<p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatu  ducimus quam nisi exercitationem omnis earum qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
ducimus quam nisi exercitationem omnis earum qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
ducimus quam nisi exercitationem omnis earum qui.</p>

</div>
<div class="col md-6">
<h2 class="about__heading">OUR MISSION</h2>
<p class="about__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatu  ducimus quam nisi exercitationem omnis earum qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
ducimus quam nisi exercitationem omnis earum qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
ducimus quam nisi exercitationem omnis earum qui. </p>


</div>
</div>


</section>
<section class="works">
<div class="container">
<h2 class="works__heading text-center">HOW IT WORKS</h2>
<div class="row">
<div class="col md-3">
<h3 class="works__side">HOW WE HELP COLLEGES</h3>
<p class="works__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatu  ducimus quam nisi exercitationem omnis earum qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur</p>


<h3 class="works__side works__side__second">HOW WE HELP PLAYERS</h3>
<p class="works__p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatu  ducimus quam nisi exercitationem omnis earum qui.Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur</p>

</div>
<div class="col md-9">
<div class="right"
>
  <img class="right__photo img-fluid img-thumbnail" src="/images/pitching-florida.jpg">
  <img class="right__photo img-fluid img-thumbnail" src="/images/pitching-white.jpg">

</div>
</div>
</div>
</div>
</section>
<section class="gallery" class="py-5">
    <div class="container">
      <h1 class="text-center">CHECK OUT OUR STUD ATHLETES</h1>
      
      <div class="row mb-4">
        <div class="col-md-4">
       
            <img class="right__photo img-fluid img-thumbnail" src="/images/batting.jpg" alt="" class="img-fluid">
          
        </div>

        <div class="col-md-4">
         
            <img  class="right__photo img-fluid img-thumbnail" src="/images/catcher.jpg" alt="" class="img-fluid">
         
        </div>

        <div class="col-md-4">
         
            <img class="right__photo img-fluid img-thumbnail"  src="/images/first-bast.jpg" alt="" class="img-fluid">
          
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
         
           <img  class="right__photo img-fluid img-thumbnail" src="/images/first-base.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-md-4">
         
            <img class="right__photo img-fluid img-thumbnail"  src="/images/pitching.jpg" alt="" class="img-fluid">
          
        </div>

        <div class="col-md-4">
          
            <img class="right__photo img-fluid img-thumbnail"  src="/images/first.jpg" alt="" class="img-fluid">
          
        </div>
      </div>
    </div>
  </section>


</div>




</html>