<html>

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />

</head>
<body>
<body>
<div class="main-container">
  <section class="main-page-home-section">
    <div class="home-section">
      <h1 class="home-section__heading">THE RECRUITER<h1>
        <a href='/' class="home-section__button">GET TO KNOW US BETTER</a>
    </div>
  </section>
<section class="about">
  <div class="container">
    <img class="about__logo" src="/images/logo.png">
  <div class="about__section">
<div class=row>
  <div class="col md-6">
    <h2 class="about__heading">ABOUT US</h2>
      <p class="about__p">The RECRUITER is an app that helps College baseball teams and High School baseball players find eachother. Both can sign up, create an account and find players / schools that need them based on positons.</p>
  </div>
<div class="col md-6">
  <h2 class="about__heading">OUR MISSION</h2>
    <p class="about__p">As I former High School baseball player and College baseball player I know first hand the difficulties that both sides face in finding eachother. Our mission is to help bring the two together. </p>
</div>
</div>
</section>
<section class="works">
<div class="container">
<h2 class="works__heading text-center">HOW IT WORKS</h2>
<div class="row">
<div class="col md-3">
<h3 class="works__side">HOW WE HELP COLLEGES</h3>
<p class="works__p">A College can sign up, fill in information about their school and select which positions they need filled. They are then shown a list of players that play those positions and can then contact them. The players can also contact the colleges if their needs match up. </p>

<h3 class="works__side works__side__second">HOW WE HELP PLAYERS</h3>
<p class="works__p">A High School player can sign up,fill in information about their school, positions they play, and their statistics. They are then shown a list of Colleges that need those positions filled and can then contact them. The colleges can also contact the players if their needs match up. </p>
  </div>
<div class="col md-9">
<div class="right">
  <img class="right__photo img-fluid img-thumbnail" src="/images/pitching-white.jpg">
  </div>
  </div>
  </div>
</div>
</section>
<section class="gallery" class="py-5">
  <div class="container">
    <h1 class="text-center">SOME OF OUR FORMER PLAYERS</h1>
      <div class="row mb-6">
        <div class="col-md-6">
          <img class="right__photo img-fluid img-thumbnail mt-5" src="/images/batting.jpg" alt="" class="img-fluid">
          </div>
        <div class="col-md-6">
          <img  class="right__photo img-fluid img-thumbnail mt-5" src="/images/catcher.jpg" alt="" class="img-fluid">
        </div>
       </div>
        <div class="row mb-6">
         <div class="col-md-6">
          <img class="right__photo img-fluid img-thumbnail mt-5"  src="/images/first.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <img class="right__photo img-fluid img-thumbnail mt-5"  src="/images/first-bast.jpg" alt="" class="img-fluid">
          </div>
      </div>
    </div>
  </section>
`</div>
</html>