<html>
<body>
<div class="main-container">
  <section class="main-page-home-section">
    <div class="home-section">
      <h1 class="home-section__heading">THE RECRUITER<h1>
        <a href='/' class="home-section__button">GET TO KNOW US BETTER</a>
    </div>
  </section>
<section class="about">
  <div class="container">
    <img class="about__logo" src="/images/logo.png">
  <div class="about__section">
<div class=row>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <h2 class="about__heading ">ABOUT US</h2>
      <p class="about__p">The RECRUITER is an app that helps college baseball teams and high school baseball players find eachother. Both can sign up, create an account and find players / schools that need them based on positons.</p>
  </div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
  <h2 class="about__heading ">OUR MISSION</h2>
    <p class="about__p">As a former high school baseball player and college baseball player I know first hand the difficulties that both sides face in finding eachother. Our mission is to help bring the two together. </p>
</div>
</div>
</section>
<section class="works">
<div class="container">
<h2 class="works__heading text-center">HOW IT WORKS</h2>
<div class="row">
<div class="col-md-5 col-lg-5">
<h3 class="works__side text-center">COLLEGES</h3>
<p class="works__p">Upon registration a college fills in information about their school and selects the positions they need filled. A college account is then shown a list of players that play those positions. From there a college account can message the player and follow them to keep up with any future updates to their account.</p>

<h3 class="works__side works__side__second text-center"> PLAYERS</h3>
<p class="works__p">Once registered a player fills in information about their school, positions they play, and a brief bio. A players account is then shown a list of colleges that need those positions filled. The player account can then message the college and follow them to keep up with any future updates. </p>
</div>
<div class="col-md-7 col-lg-7">
<div class="right">
  <img class="right__photo img-fluid img-thumbnail" src="/images/college-coach.jpg">
  </div>
  </div>
  </div>
</div>
</section>
<section class="testimonial">
<div class="container">
<div class="row">
<div class="col-md-4">
<blockquote>
<p class="testimonial__quote">This App helped me get find the perfect college for me</p>
<small class="testimonial_quote--author">
Adam Cardoza</small>
</div>
<div class="col-md-4">
<blockquote>
<p class="testimonial__quote">Thanks to this App I was able to fill 3 positions on my roster</p>
<small class="testimonail__quote--author" class="testimonial_quote--author">
Coach Jon Bruce</small>
</div>
<div class="col-md-4">
<blockquote>
<p class="testimonial__quote">I found a college that was in need of the positions I played because of this App</p>
<small class="testimonial_quote--author">
Adam Cardoza</small>
</div>

</div>

</div>

</section>
<section class="gallery" class="py-5">
  <div class="container">
    <h1 class="text-center">SOME OF OUR FORMER PLAYERS</h1>
      <div class="row mb-6">
        <div class="col-md-6">
          <img class="right__photo img-fluid img-thumbnail mt-5" src="/images/batting.jpg" alt="" class="img-fluid">
          </div>
        <div class="col-md-6">
          <img  class="right__photo img-fluid img-thumbnail mt-5" src="/images/catcher.jpg" alt="" class="img-fluid">
        </div>
       </div>
        <div class="row mb-6">
         <div class="col-md-6">
          <img class="right__photo img-fluid img-thumbnail mt-5"  src="/images/first.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-md-6">
          <img class="right__photo img-fluid img-thumbnail mt-5"  src="/images/first-bast.jpg" alt="" class="img-fluid">
          </div>
      </div>
    </div>
  </section>

</div>
</body>
</html>