<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="<%= url("/stylesheets/main.css")%>">
</head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">
           <img class="nav-logo img-fluid"src="/images/nav-logo.png" alt=""> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon "></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
       
        <% if session[:logged_in] == true %>
       <li class="nav-item color-white">
          <a class="nav-link text-white" href="/users/logout">Logout</a>
        </li>
        <%if session[:user_type] == "player" %>
        <li class="nav-item color-white">
          <a class="nav-link text-white" href="/players/account">Account</a>
        </li>
        <%else%>
         <li class="nav-item color-white">
          <a class="nav-link text-white" href="/colleges/account">Account</a>
        </li>
        <%end %>
    <% else  %>
  		 <li class="nav-item color-white">
          <a class="nav-link text-white" href="/users/login">Login</a>
        </li>
        <li class="nav-item color-white">
          <a class="nav-link text-white" href="/users/register">Register</a>
        </li>
  	<% end %>
        
        
      </ul>
   </div>
  </div>
</nav>
</header>
  <div class="session-message">
    <% if session[:message] %>
    <h5 class="message <%= session[:message][:status] %> text-center m-3"><%= session[:message][:message] %></h5>
  <% 
    end
    session[:message] = nil 
  %>

  <%= yield %>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjHCJerc_QTC2Kq1NtMEew4oGQJEBWqks&libraries=places"></script>
</body>
</html>