<body>
<% if !@available_players.any? %>
<h5> Sorry there are no matches at the moment </h5>
<% else %>
<div class="player-match">
    <% @available_players.each do |player| %>

<div class="player-card">
    <div class="player-card__heading player-card__logo dark-overlay"> 
        <h4 class="text-center mt-5 text-center ">
            <%=player.name %> 
        </h4> 
    </div>
        <div class="player-card__details">
          
                <a class="btn btn-primary btn-block mt-4" href='player/<%=player.id%>'>View</a>
        </div>
    </div>
                    
<% end %>
<% end %>
</div>
</body>