<div class="container mt-5 p-3">
<h2 class="text-center mt-5 p-5">Here are the Colleges you are following</h2>
<div class="row justify-content-center mt-5">
          <div class="col-md-8">
            <div class="card mt-3">
              <table class="table table-striped">
                <tbody>
                <% @following.each do |user| %>
                  <tr>
                      <td>Name</td>
                      <td><%= user.name %></td>
                    <td>
                        <a href="/players/college/<%= user.other_user_if_college %>" class="btn btn-secondary">
                           View
                        </a>
                         
                    </td>
                  </tr>
                  <% end %>

                  </tbody>
              </table>
            </div> 
          </div> 
        </div>