<div class="container mt-5 p-3">
<h2 class="text-center mt-5 p-5">Here are the Colleges you are following</h2>
<div class="row justify-content-center mt-5">

           <% if !@following.any? %>
           <h5> Your are not following anyone </h5>
           <% else %>
          <div class="col-md-8">
            <div class="card mt-3">
              <table class="table table-striped">
                <tbody>
               
                <% @following.each do |follow| %>
                  <tr>
                      <td>Name</td>
                      <td><%= follow.name %></td>
                    <td>
                        <a href="/players/college/<%= follow.other_user_if_college %>" class="btn btn-secondary">
                           View
                        </a>
                         
                    </td>
                    <td>
                    <form action="/players/following/<%= follow.id%>" method="POST" >
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger my-3">Unfollow</button>
                    </form>
                    </td>
                  </tr>
                  </tr>
                  <% end %>
                  <% end %>

                  </tbody>
              </table>
            </div> 
          </div> 
        </div>