<div class="container mt-5 p-3">
<h2 class="text-center mt-5 p-5">Sent Messages</h2>
<div class="row justify-content-center mt-5">
      <% if !@sent_messages.any? %>
      <h5>There are no sent messages </h5>
      <% else %>
          <div class="col-md-8">
            <div class="card mt-3">
              <table class="table table-striped">
                <tbody>
                <% @sent_messages.each do |message| %>
                <%if message.deleted_by_user == false %>
                  <tr>
                      <td>Title</td>
                      <td><%= message.title %></td>
                      <td>From</td>
                      <td><%=message.from_id%>
                    <td>
                        <a href="/players/account/<%= message.id %>" class="btn btn-secondary">
                           View
                        </a>
                         
                    </td>
                  </tr>
                  <% end %>
                  <% end %>

                  <% end %>

                  </tbody>
              </table>
            </div> 
          </div> 
        </div>