
<h2>Sign up here!</h2>
<form action="/users/register" method="POST">
  <input type="text" name="username" placeholder="username" /> <br>  
  <input type="password" name="password" placeholder="password"><br>
  <h2>Select Which User you are</h2>
  <input type="radio" name="account_type" value="college">College<br>
  <input type="radio" name="account_type" value="player">Player<br>
  <button>Register</button>
</form>
<small>Already have an account? <a href="/users/login">Log in here!</a></small>