//colors
$golden-wheat: #a39274;
$deep-grey: #252523;
$soft-wheat: #dfd8c8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body{
 font-family: 'Lato', sans-serif;
}

.navbar{
  background-color: black;
  opacity: .8;
}


.nav-logo{
  width: 125px;
}

 .nav-item{
  color: white;
  font-size: 15px;
  padding: 10px;

 }


 .main-page-home-section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)) ,url(../images/main-image.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    background-attachment: fixed;
    position: relative;
    margin-top: -50px;
 }

.home-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;

    &__heading{
      color:#F8F8FF;
      letter-spacing: 2px;
      text-align: center;
      font-size: 65px;
      font-weight: 700;
    }
    &__button,
    &__button:visited{
      text-decoration: none;
      display: inline-block;
      padding: 10px 25px;
       color:#F8F8FF;
      border: 1px solid #fff;
      font-size: 15px;
      margin-top: 20px;

    }

  }

  // tesitmonial section

  .testimonial{
    background-color: $golden-wheat;

    &__quote{
      


      &--author{
      
      }
    }
    
  }

  // The about seciont
  .about{
   background-color: $golden-wheat;
    min-height: 300px;
    position: relative;
   
    &__section{
      padding-top: 100px;
      padding-bottom: 50px;
     
    }
    &__heading{
      font-size: 25px;
      padding: 10px;
    }
    &__p{
      font-size: 18px;
      padding: 3px;
    }
  
    &__logo{
      width: 250px;
      height: auto;
      position: absolute;
      top: -100px;
      left: 45%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &__heading{
      font-size: 25px;
      color: white;
 }
}
// How it works section

  .works{
    padding-top: 50px;
    padding-bottom: 50px;
   
  &__heading{
      font-size: 35px;
      padding-bottom: 30px;
    }
    &__side{
      font-size: 25px;
      padding: 10px;
      border-bottom: 3px solid $soft-wheat;

    }
    &__second{
      margin-top: 50px;
    }
    &__p{
      font-size: 18px;
      padding: 3px;
   }
  }
   .gallery{
       background-color: $golden-wheat;
       padding: 50px;

      h1{
        color: white;
        padding: 25px;
      }
    }

     
// End of home page
//Player & college login / Register / Edit / match pages
.login,
.register
{
  margin-top: 150px;
  width: 800px;
 
}
.player-match,
.college-match{
  padding-top: 150px;
  width: 1200px;
  margin: 0 auto;
 
}
   
/// Cards that list the player and college info
.player-card{
  height: 200px;
  width: 200px;
  float: left;
  box-shadow: 0 1.5rem 4rem rgba(#000, .15);
  overflow: hidden;
  margin: 20px;
  position: relative;
  animation: moveInLeft 2s;
  
  &__details {
    padding: 3rem;
    ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;
       li {
            text-align: center;
            font-size: 18px;
            padding: 5px;
           
          &:not(:last-child) {
                border-bottom: 1px solid $deep-grey;
            }
        }
    }
}
}
.college-card{
  height: 200px;
  width: 200px;
  float: left;
  box-shadow: 0 1.5rem 4rem rgba(#000, .15);
  overflow: hidden;
  margin: 20px;
  position: relative;
  animation: moveInLeft 2s;
    
  &__details {
    padding: 3rem;

    ul {
        list-style: none;
        width: 80%;
        margin: 0 auto;

        li {
            text-align: center;
            font-size: 18px;
            padding: 5px;
           
            &:not(:last-child) {
              border-bottom: 1px solid $deep-grey;
          }
        }
      }
    }
  }

@keyframes moveInLeft {
  0% {
      opacity: 0;
      transform: translateX(-10rem);
  }

  80% {
      transform: translateX(1rem);
  }

  100% {
      opacity: 1;
      transform: translate(0);
  }
}

